*.png
*.bmp
*.jpg

!h*.png
hsg*.png
hs00.png
hsカーソル.png
hs下地.png
hs解放_*.png

!kks*.png

!ldk.png

!mhsカーソル*.png
!mhs解説*.png
!ms解説25コトブキ.png

!pmmlock*.png
!pmm下地.png

!rzボード.png

!sES*.png

!sFI解説.png
!db解説.png
!ecf01.png

!sSD解説*.png
!sSD済マーク.png
!sSD選択肢.png
!sSD霊珠所持数.png
!ssh01こむステータス.png
!ssh02たこやきステータス.png
!ssh出撃カーソル.png

!sアイテム*.png
!sクラススキル*.png
!sクラスチェンジ下地.png
!sクラスチェンジ解説*.png
!sコマンドメニュー*.png
!sショップアイテムボード.png
!sショップ商品ボード.png

!sスカ.png
!sスキル*.png
sスキルカーソル.png
sスキルゲット.png

!sステータスウィンドウ*.png
sステータスウィンドウ01はむこb.png
sステータスウィンドウ01はむこ全体b.png

!sステータスクラス*.png
sステータスクラスレベル*.png

!sステータス下地*.png
sステータス下地99クラスかくし.png

!sヒロインスキル*.png
!sメニューアイテムボード.png

!sメニューコマンド*.png
sメニューコマンドカーソル*.png

!sメニュー下地*.png
!メニュー成長率*.png
!sメニュー整理中.png
!s全員スッキリ.png

!s全体コマンド*.png
s全体コマンドカーソル*.png

!s敵スキル*.png

!tz下地.png
!tz西*.png
!tz中*.png
!tz東*.png
!tz南*.png
!tz北*.png

!zomkサウンド*.png
!zomk下地.png

!zzzenda*.png
!zzzendb*.png

!地図解説.png

!op*.png

!ONOFF.png